<div class="text-center mb-4">
   <img
      src="/img/Logo.png?cache=<%= appVersion %>"
      alt="Logo"
      class="d-block mx-auto mb-3"
      width="150"
      height="150"
   >
   <h2 class="h2 mb-0"><%= typeof appName !== 'undefined' ? appName : 'Connexion' %></h2>
   <% if (typeof pageTitle !== 'undefined' && pageTitle === 'Inscription') { %>
      <h5 class="text-muted">Inscription</h5>
   <% } %>
</div>