@include mobile {
   .menu-btn {
      visibility: hidden;
   }
   .nav {
      visibility: visible;

      .menu-nav {
         display: block;
         transform: translateY(0);
         height: 100%;
      }
   }
}